.font-15px{
  font-size: 15px;
}
.font-18px{
  font-size: 18px;
}
.font-20px{
  font-size: 20px;
}
.font-22px{
  font-size: 22px;
}
.f-w-300{
  font-weight: 300;
}
.f-w-400{
  font-weight: 400;
}
.f-w-500{
  font-weight: 500;
}

h1 span{
  font-size: 1.5rem;
}
.font-24px
{
  font-size: 24px;
}
.font-30px{
  font-size: 30px;
}
.font-40px{
  font-size: 40px;
}
@media screen and (max-width: 1400px) {
  .font-18px{
    font-size: 17px;
  }
  .font-20px{
    font-size: 18px;
  }
  .font-22px{
    font-size: 20px;
  }
  
  h1 span{
    font-size: 1.2rem;
  }
  .font-24px
  {
    font-size: 22px;
  }
  .font-30px{
    font-size: 27px;
  }
  .font-40px{
    font-size: 37px;
  }
}

@media screen and (max-width: 1199.98px) {
  .font-18px{
    font-size: 16px;
  }
  .font-20px{
    font-size: 17px;
  }
  .font-22px{
    font-size: 18px;
  }
  
  h1 span{
    font-size: 1rem;
  }
  .font-24px
  {
    font-size: 18px;
  }
  .font-30px{
    font-size: 25px;
  }
  .font-40px{
    font-size: 35px;
  }
}

@media screen and (max-width: 991.98px) {
  .font-30px{
    font-size: 24px;
  }
  .font-40px{
    font-size: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .font-18px{
    font-size: 15px;
  }
  .font-20px{
    font-size: 16px;
  }
  .font-22px{
    font-size: 17px;
  }
  
  h1 span{
    font-size: .9rem;
  }
  .font-30px{
    font-size: 22px;
  }
  .font-40px{
    font-size: 27px;
  }
}

@media screen and (max-width: 575.98px) {
  .font-18px,
  .font-15px,
  .font-20px{
    font-size: 13px;
  }
  .font-22px{
    font-size: 14px;
  }
  
  h1 span{
    font-size: .8rem;
  }
  .font-24px
  {
    font-size: 15px;
  }
  .font-30px{
    font-size: 20px;
  }
  .font-40px{
    font-size: 23px;
  }
}